* {
    margin: 0;
    padding: 1;
    box-sizing: border-box;

}
ul{
    list-style: none;
}
li{
    list-style: none;
}
a {
    text-decoration: none;
}
header {
    text-align: center;
    background-color: rgb(255, 228, 187);
}
/*-----nav--------*/
nav {
    background-color:rgb(9, 124, 133);
    align-items: center;
    padding: 0px 100px;

}
nav ul {
    display:flex;
    justify-content: space-evenly;
    align-items: center ;

}
nav ul li, a{
    color: white;
    font-size: 15px;
}
nav ul li:nth-child(2) a{
    color: rgb(77, 28, 9);
}
nav ul li:nth-child(2) i{
    color: rgb(56, 44, 5);
    font-size: 15px;
    margin-left: 6px;
}
nav ul li:nth-child(3) {
    position: relative;
}
nav ul li:nth-child(3) input{
    height: 30px;
    width: 100%;
    border-radius: 50px;
    border: none;
}
nav ul li:nth-child(3) i{
    position: absolute;
    font-size: 15px;
    right: 12px;
    color: black;
    line-height: 30px;
}
nav ul li:nth-child(4) button {
    height: 30px;
    padding: 12px;
    cursor:pointer;
    background-color: transparent;
    color: white;
    border: 1px solid rgb(184, 163, 144);
    border-radius: 5px;

}

nav ul li:nth-child(4) button i {
    margin-right: 6px ;
}
nav ul li:nth-child(4) button:hover {
    background-color: rgb(12, 87, 63);
}
nav ul li:nth-child(5) button:hover a {
    color: rgb(255, 0, 0);
}
nav ul li:nth-child(6) a {
    color: rgb(129, 8, 8);
}


.btn-content{
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: rgb(3, 17, 37);
    display: block;
    float: left;
    margin: 4px;
}
.btn-top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: rgb(3, 17, 37);
    display: block ;
    pointer-events: none;
    animation: btnani 2s linear infinite;
    display: block;

}
@keyframes btnani{
    from {
        opacity: 0.5;
    }
    to{
        transform: scale(3);
        opacity: 0;
    }
}
nav ul li:nth-child(5):hover a {
    color: rgb(12, 87, 63);
}
nav ul li:nth-child(6):hover a {
    color: rgb(12, 87, 63);
}
nav ul li:nth-child(7):hover a {
    color: rgb(12, 87, 63);
}
nav ul li:nth-child(8):hover a {
    color: rgb(12, 87, 63);
}
/*------------------------SECTION---------------*/
.menu-bar {
    background-color: rgb(90, 148, 202);
    padding: 0px 150px;
}
.menu-bar ul {
    display: flex;
    justify-content: space-evenly;
}
.menu-bar ul li a{
    color: black;
    font-size: 16px;
}
.menu-bar ul li a i {
    margin-right: 6px;
    font-size: 16px;
}
.menu-bar ul li{
    padding: 10px 6px ;
}
.menu-bar-content > ul > li:hover{
    background-color: white;
    transition: 0.5s;

}
.menu-bar-content >ul >li:nth-child(5){
    position: relative;
}
.menu-bar-content > ul >  li:nth-child(5)::before {
    position: absolute;
    content: "Giảm   5%";
    font-size: 7PX;
    color: aliceblue;
    padding-left: 5px;
    display: block;
    height: 10px;
    width: 35px;
    background-color: #f51212;
    border-radius: 4px;
    right: -20px;
    top: 2px;

}
.menu-bar-content >  ul > li:nth-child(5)::after {
    position: absolute;
    content: "";
    display: block;
    height: 4px;
    width: 4px;
    background-color: #f51212;
    right: 6px;
    top: 9px;
    z-index: 3;
    transform: rotate(45deg);

}
/*----------------------ADDRESS FORM-------------------*/
.address-form {
    position: fixed;
    width:100vw;
    height:100vh;
    background-color: rgb(0, 0, 0, 0.5);
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000000;
    display: none;

}
.address-form-content{
    width: 300px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    position: relative;
    z-index: 9999;
}
.address-form-content form {
    padding: 0 40px;
}
.address-form-content p{
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}
.address-form-content h2 {
    font-size: 14px;
    padding:  12px 0;
    border-bottom: 1px solid #ffffff;
    position: relative;
}
.address-form-content h2 span {
    display: block;
    position: absolute;
    height: 30px;
    padding: 5 6px;
    border:  1px solid #ffffff;
    right:  10px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 30px;
    color: #000000;
    border-radius: 5px;
}
.address-form-content form input,select{
    height: 30px;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    border: #626060;
    font-size: 12px;

}
.address-form-content form button{
    margin-top: 20px;
    height: 30px;
    width: 90%;
    background-color: #F97E0E;
    border-radius: 5px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    border: none ;
}
/*-------------------------------REGISTRATION---------------------
.sigup-form {
    position: fixed;
    width:100vw;
    height:100vh;
    display: flex;
    background-color: rgb(0, 0, 0, 0.5);
    left:0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin-top: 700px;
    z-index: 99999;
    display: none;
  }


.sigup-form-content {
    width: 100%;
    max-width: 400px;
    margin: 450px 35px 500px -70px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 999999;
  }

  .sigup-form-content h2 {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .sigup-form-content form .group {
    margin-bottom: 20px;
    text-align: left;
  }

  .sigup-form-content form label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
  }

  .sigup-form-content form input[type=text],
  .sigup-form-content form input[type=email],
  .sigup-form-content form input[type=password],
  .sigup-form-content form select {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  .sigup-form-content form input[type=submit] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #F97E0E;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .sigup-form-content form input[type=submit]:hover {
    background-color: #d76a0e;
  }
-----*/
/*------------------LOGIN-------------------------*/

.login-form {
    position: fixed;
    width:100vw;
    height:100vh;
    display: flex;
    background-color: rgb(0, 0, 0, 0.5);
    left:0;

    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 650px;
    z-index: 99999;

}
.group_form_login {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    padding: 40px;
    width: 400px;
}
.group_form_login h2 span{
    font-size: 15px;
    margin-left: 110px;
}
.loginError {
    margin-bottom: 20px;
    text-align: center;
}

.loginError p {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    margin-right: 135px;
}

.group_username,
.group-password,
.group-remember-me {
    margin-bottom: 20px;
}

.group_username label,
.group-password label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 250px;
}
.group-remember-me label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.group_username input,
.group-password input,
.group-remember-me input {
    border-radius: 5px;
    border: 1px solid #ccc;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.group-remember-me input[type="checkbox"] {
    display: inline;
    width: auto;
}

input[type="submit"] {
    background-color: #F97E0E;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #e60046;
}

/*-------------------------------SUBMENU-------------------------*/
.menu-bar-content{
    position: relative;
}
.submenu{
    position: absolute;
    background-color: #d1cfcf;
    width: 500px;
    height: auto;
    left: 97px;
    top: 100%;
    padding: 12px;
    display: none;
    z-index: 10;
}
.submenu >ul{
    display: flex;
    flex-direction: column;

}
.submenu ul li{
    padding: 6px;
}

.con-submenu ul li:hover a{
    color: #0084ff;
}
.submenu ul i:hover{
    background: none;
}
.menu-bar-content ul li:hover .submenu{
    display: block;
}
.con-submenu{
    flex-direction: column;
}
/*------------------SLIDER-----------------------------------*/
.slider {
    padding: 10px 150px 20px;
    height: 350px;
}
.slider-content{
    display: flex;
    width: 10%;
}
.slider-content-left{
    height: 100%;
    margin-top: 200%;
}
.slider-content-right{
    width: 350%;
}
.slider-content-left-top{
    width: 100%;
    height: 300px;
}
.slider-content-left-top:hover i {
    opacity: 40%;
}
.slider-content-left-botton{
    padding: 255px 1px 40px;
    display: flex;
    justify-content: space-between;
    border: 5px solid rgb(255, 255, 255);
    height: 50px;
    background-color: #d8ebfc;
}
.slider-content-left-botton > li{
    padding: 0px 20px;
    border-top: #F97E0E;

}
.slider-content-left-botton > li:hover{
    color: #ca2d2d;
    border-bottom: 2px solid #852323;
}

.slider-content-left-top image {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.slider-content-left-top{
    justify-content: space-between;
    border-top: 10px solid rgb(189, 116, 116);
    border: 10px solid rgb(189, 116, 116) ;
    height: 50px;


}
.slider-content-left-botton li.active{
    border-top: #F97E0E;
}
.slider-content-right{
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    margin-top: 200%;

}
.slider-content-right li {
    width: 50%;
    height: 50%;
    margin-bottom: 6px;
}
.slider-content-right li img{
    margin-bottom: 6px;
}
.slider-content-left-top-btn{
    position: relative;
    font-size: 50PX;
    display: flex;
    width: 100%;
    top: -130px;
    justify-content: space-between;
}
.slider-content-left-top-btn i{
    opacity: 15%;
    transition: 0.3 ease;
    cursor: pointer;

}
/*------------------------------------------------SLIDER js 1 -------------------------------*/
.slide1 {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1;
    transform: translateX(0%);
    margin-block: 5% 20%;
}
/*-----------------------------BANNER 1--------------------*/
.banner-one{
    margin: 300px 160px 20px;
}
/*-----------------------------Slider product--------------------*/

.slider-product-one-content-item{
    display: flex;
}
.slider-product-one-content{
    background-color: #e67e7e;
    padding: 12px 15px 50px;
    border-radius: 2.5%;
}
.slider-product-one-content-title{
    font-style: italic;
}
.slider-product-one-content-items{
    width: 25%;
    background-color: white;
    padding:20px 15px 10px;
    border-radius: 4% ;
    border: 8px solid #e67e7e  ;
}
.slider-product-one-content-items > img{
    width: 100%;
    transition: all 0.5s ease;
}
.slider-product-one-content-items-text {
    padding: 5px 15px;

}
.slider-product-one-content-items-text li:first-child {
    height: 30px;
    width: 150px;
    background-color:  rgb(219, 188, 10) ;
    display: inline-block;
    margin-bottom: 20px;
    align-items: center;
    line-height: 30px;
    border-radius: 20px;
    padding: 0px ;
}
.slider-product-one-content-items-text li:first-child p {
    color:rgb(0, 0, 0);
}
.slider-product-one-content-items-text li:first-child img {
    width: 27px;
    float: left;
    margin-right: 6px;
    top: 10px;

}
.slider-product-one-content-items-text li:nth-child(5) {
    color: #F97E0E;
}
.slider-product-one-content-items-text li:nth-child(2){
    font-size: 18px;

}
.slider-product-one-content-items-text li:nth-child(3) {
    color: rgb(112, 4, 4);
    font-weight: bold;
    font-size: 18px;
    text-decoration: line-through;
}
.slider-product-one-content-items-text li:nth-child(4) {
    color: rgb(112, 4, 4);
    font-weight: bold;
    font-size: 25px;
}
.slider-product-one-content-items-text li:last-child {
    height: 30px;
    width: 150px;
    background-color:  rgb(217, 217, 213) ;
    display: inline-block;
    align-items: center;
    line-height: 30px;
    border-radius: 7px;
    padding: 0px ;
    text-align: center;
    font-weight: 700;
}
.slider-product-one-content-items-text li:last-child:hover {
    background-color: #ed9292;
}
.slider-product-one-content-items:hover > img {
    transform: translateY(-10px);
}
/*--------------------------CART------------------------------------------*/
.cart{
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}
.cart h2{
    margin-bottom: 30px;
}
.cart table{
    width: 100%;
}
.cart table thead tr th:first-child{
    text-align: left;
}
.cart table tbody tr td{
    border-bottom: 1px soid #ff0000;
    padding: 15px 0;
}
.cart table thead tr th:last-child {
    text-align: right;
}
.cart table tbody tr td:last-child {
    text-align: right;
}
/*--------------------------SLIDER XU HƯỚNG MUA SẮM-------------*/
.container2{
    margin: 1px 160px 2px;
}
.slider-product-two-content-item {
    display: flex;
}
.slider-product-two-content{
    background-color: #f8d3b1;
    padding: 12px 50px 50px ;
    border-radius: 2%;
    margin: 30px 160px 20px;

}
.slider-product-two-content-items{
    width: 25%;
    border: 8px solid #f8d3b1 ;
}
/*-------------------FOOTER---------------------------*/
.footter{
    background-color: #f6e3e3;
    margin-top: -10px;
    padding-bottom: 70px;
}
.footter-content{
    margin-right: 155px;
    margin-left: 155px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.collum li {
    margin-bottom: 20px;
    color: #0084ff;
}
.collum {
    margin-top: 50px;
}
.collum li:hover{
    color: #000000;
}

/*----------------------------------------CART--------------------------------------------*/
.slider-product-one-content-items-text button {
    height: 30px;
    padding: 0 12px;
    cursor: pointer;
    border: none;
    font-weight: 600;
    background-color: #f8c3c3;
    border-radius: 5px;
}
.slider-product-one-content-items-text button:hover {
    background-color: #c8800c;
}
/*----------------------CARRT------------------------------*/
.cart{
    position: fixed;
    height:100vh;
    width:450px;
    right:0;
    top:0;
    background-color: #aecbf3;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
    border-top: 5px solid rgb(8, 84, 122);
    border-right: 5px solid rgb(8, 84, 122);
    border-bottom:  5px solid rgb(8, 84, 122);
    border-left:  5px solid rgb(8, 84, 122);

}
.cart button {
    margin-top: 12px;
    height: 30px;
    padding: 0 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    background-color: tomato;
}
.cart p {
    margin-right: 0px;
    margin-bottom: 30px;
}

.cart h2 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin: 30px 0;
}
.cart table {
    width: 100%;
    border-collapse: collapse;
}
.cart th {
    background-color: #eee;
    padding: 10px;
    text-align: left;
}

.cart td {
    padding: 10px;
    text-align: left;
}

.cart .price-total {
    padding: 20px;
    border-top: 1px solid #eee;
    text-align: right;
}

.cart .price-total span {
    font-weight: bold;
    font-size: 24px;
}

.cart button.close-cart {
    display: block;
    margin: 20px auto;
    padding: 10px 20px 30px 20px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #f44336;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cart button.close-cart:hover {
    background-color: #ff5733;
}
