* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar
{
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo img {
    width: 125px;
}

nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}

.group-first-name,
.group-middle-name,
.group-last-name,
.group-birthday,
.group-mobile,
.group-nickname,
.group-address,
.group-gender {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"],
button[type="submit"] {
    background-color: #ff523b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #ff523b;
}
button:hover {
    background-color: #934428;
}
.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #fff, #ffd6d6);
    background-size: cover;
}

.container-header{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    flex: 1;
}

.edit-account-information {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.form-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
/* Responsive Styling */
@media screen and (max-width: 768px) {
    .navbar {
        justify-content: space-between;
    }

    .logo img {
        width: 100px;
    }

    .menu-icon {
        display: block;
    }

    nav ul {
        display: none;
    }

    .menu-active nav ul {
        display: block;
    }

    .menu-active .menu-icon {
        transform: rotate(90deg);
    }
}
/* Footer */
.footer{
    margin-top: auto;
    background: black;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

tr:nth-child(even) {
    background-color: #d6eeee;
}

thead {
    background-color: aquamarine;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}