*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.navbar
{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    flex: 1;
}

.shopping-cart {
    margin-bottom: 20px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}
.header{
    background: radial-gradient(#fff,#ffd6d6);
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #ff523b;
}
.col-4:hover{
    transform: translateY(-5px);
}
/* Footer */
.footer{
    margin-top: auto;
    background: black;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

tr:nth-child(even) {
    background-color: #d6eeee;
}

thead {
    background-color: aquamarine;
}

/* Cart Items */
.cart-page{
    margin: 80px auto;
}
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}
th, td {
    padding: 10px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
th:nth-child(1),
td:nth-child(1) {
    width: 40%;
}

th:nth-child(2),
td:nth-child(2) {
    width: 20%;
}

th:nth-child(3),
td:nth-child(3) {
    width: 20%;
}

th:nth-child(4),
td:nth-child(4) {
    width: 20%;
    text-align: right;
}

th:nth-child(5),
td:nth-child(5) {
    width: 20%;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #ff523b;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

.custom-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #ff523b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.custom-button-order {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #ff523b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.small-image {
    width: 30px;
    height: 30px;
}

.no-item-image {
    width: 60vh;
    height: 50vh;
}

.custom-button:hover {
    background-color: #934428;
}

.custom-button:active {
    background-color: #934428;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.custom-button-order:hover {
    background-color: #934428;
}

.custom-button-order:active {
    background-color: #934428;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.custom-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
.increase-decrease-product{
    border: none;
    background-color: rgb(245, 195, 162);
    height: 20px;
    width: 20px;
    font-weight: 400;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.number-product{
    border: none;
    height: 30px;
    width: 50px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(243, 206, 155);
    font-size: 18px;
}
.box-container {
    background-color: #f5f5f5;
    padding: 20px;
    margin-top: 20px;
    border-radius: 4px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.subtotal-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.subtotal-text {
    font-weight: bold;
    color: #333;
}

.subtotal-value {
    margin-left: 10px;
    background-color: #F4F4F4;
}
