.detail-product {
    padding: 10px 50px 20px;
    min-height: 70vh;
    margin: 0px 300px 0px 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #fff, #ffd6d6);
}
.img{
    margin-right: 30px;
}
#button-add-product-to-cart{
    border: none;
    color: white;
    background-color: rgb(237, 40, 26);
    height: 40px;
    width: 150px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 500;
}
#button-add-product-to-cart:hover{
    background-color: rgb(86, 26, 26);
    transition: 1s
}
#number-product{
    border: none;
    height: 30px;
    width: 50px;
    border-radius: 0px;
    text-align: center;
    background-color: rgb(230, 216, 196);
    font-size: 18px;
}
.m-auto-text-2xl-font-thin{
    outline: none;
    background-color: rgb(230, 224, 224);
    height: 30px;
}

