@font-face {
    font-family: AdamM;
    src: url(../Fontes/Adam-Medium.ttf);
}

@font-face {
    font-family: AdamB;
    src: url(../Fontes/Adam-Bold.ttf);
}
* {
    padding : 0;
    margin : 0;
    font-family: AdamM;
}

body {
    background: url("https://phuongnamvina.com/img_data/images/e-commerce-la-gi-kien-thuc-can-biet-ve-ecommerce.jpeg") no-repeat;
    background-size: cover;
}
.registration a{
    color: white;
    margin-left: 55px;
    margin-top: -15px;
    margin-bottom: 30px;
    font-family: AdamB;
    text-decoration-line:underline ;
}

.faixa {
    height: 100%;
    width: 400px;
    background-image: linear-gradient(to bottom, #83a4c4, #031323, #375d86);
    padding-top: 10%;
}

.faixa h1 {
    color: white;
    text-align: center;
    margin-bottom: 40px;
    font-family: AdamB;
}

.textbox {
    width: 70%;
    height: 35px;
    border-radius: 100px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    margin-top: 10px;
    padding-left: 1rem;
    background: #292929;
    color: white;

}
.option{
    width: 70%;
    height: 35px;
    border-radius: 100px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    margin-top: 10px;
    padding-left: 1rem;
    background: #292929;
    color: white;

}

.send {
    border: 2px solid #30acff;
    border-radius: 100px;
    padding: 0.6rem;
    background: none;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 15px;
    outline: none;
    margin-bottom: 30px;
    font-family: AdamB;
}

.link {
    color: white;
    display: block;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.link:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.send:hover {
    width: 65%;
    transition: 0.4s;
}

.textbox:hover {
    border: 2px solid #30acff;
    transition: 0.2s;
}

.btn {
    height: 50px;
    width: 50px;
    background: #292929;
    color: white;
    border-radius: 100px;
    border: none;
    margin-right: 10px;
    outline: none;
}

.middle {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 60px;
}

.btn:hover i {
    transform: scale(1.5);
    transition: 0.3s;
}

.group_userRole:hover {
    border: #6f6f79;
}


.group_userRole label {
    font-weight: bold;
    margin: 70px
}

.group_userRole select {
    width: 260px;
    padding: 5px;
    border: none;
    border-radius: 15px;
    margin: 10px 0px 0px -70px;
    background-color: #cbd8e2;
}
