<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My account</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/account-information.css}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap" rel="stylesheet">
</head>
<body>

<div class="header">
    <div class="container-header">
        <div class="navbar">
            <div class="logo">
                <a th:href="@{/home}"><img th:src="@{/img/logo.png}" alt="logo" width="125px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li>
                        <form method="get" th:action="@{/search}">
                            <input type="text" id="search-product"  name="q" placeholder="🔍"
                                   style="border-radius: 10px;border: 1px solid gray; height:30px; width:300px;">
                            <input type="submit" id="submit-search" value="Search"
                                   style="border-radius: 10px; border: none; height: 30px ; width:75px; background-color: #f68383">
                        </form>
                    </li>
                    <li><a th:href="@{/home}" >Home</a></li>
                    <li><a th:href="@{/order/history}">Order History</a></li>
                    <li><a>Contact</a></li>
                    <li><a th:href="@{/account/edit}">My Account</a></li>
                    <li><a th:href="@{/logout}" style="color: rgb(211, 38, 38);">Logout</a></li>
                </ul>
            </nav>

            <a th:href="@{/cart}"><img th:src="@{/img/cart.png}" width="30px" height="30px"></a>
            <img th:src="@{/img/menu.png}" class="menu-icon" onclick="menutoggle()">
        </div>
    </div>
</div>

<div class="container">
    <div class="edit-account-information">
        <form method="post" th:action="@{/account/save-user-meta}" th:object="${userMeta}">
            <th:block th:if="*{id != null}">
                <input type="hidden" th:field="*{id}">
            </th:block>
            <div class="form-columns">
                <div class="group-first-name">
                    <label for="first-name">First name:</label>
                    <input type="text" id="first-name" th:field="*{firstName}" required><br><br>
                </div>
                <div class="group-middle-name">
                    <label for="middle-name">Middle name:</label>
                    <input type="text" id="middle-name" th:field="*{middleName}" ><br><br>
                </div>
                <div class="group-last-name">
                    <label for="last-name">Last name:</label>
                    <input type="text" id="last-name" th:field="*{lastName}" required><br><br>
                </div>
                <div class="birthday">
                    <label for="birthday">Date of birth: </label>
                    <input type="date" id="birthday" th:field="*{birthday}" required><br><br>
                </div>
                <div class="group-mobile">
                    <label for="mobile">Mobile: </label>
                    <input type="text" id="mobile" th:field="*{mobile}" required><br><br>
                </div>
                <div class="group-nickname">
                    <label for="nickname">Nick name:</label>
                    <input type="text" id="nickname" th:field="*{nickname}"><br><br>
                </div>
                <div class="group-address">
                    <label for="address">Address: </label>
                    <input type="text" id="address" th:field="*{address}" required><br><br>
                </div>
                <div class="group-gender">
                    <label for="gender">Gender: </label>
                    <select id="gender" th:field="*{userMetaGender}">
                        <option th:each="gender : ${genderList}" th:value="${gender}" th:text="${gender}"/>
                    </select><br><br>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit">Save</button>
            </div>
        </form>

        <form th:action="@{/home}">
            <div class="form-actions">
                <button type="submit">Back to home page</button>
            </div>
        </form>
    </div>
</div>

<!-- Footer -->
<div class="footer">
    <div class="container-header">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download App for Android and ios mobile phone.</p>
                <div class="app-logo">
                    <img th:src="@{/img/play-store.png}">
                    <img th:src="@{/img/app-store.png}">
                </div>
            </div>
            <div class="footer-col-2">
                <img th:src="@{/img/logo.png}">
                <p>Our Purpose Is To Sustainably Make the Pleasure and Benefits of Technology Accessible to the Many.
                </p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow Us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2023 - Team 7 Web</p>
    </div>
</div>
</body>
</html>
