<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}">
    <style>
        .user-logo {
            width: 30px;
            height: 30px;
        }
    </style>
</head>
<body>
<div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
</div>
<header>
    <div class="logo-container">
        <div class="dropdown">
            <img th:src="@{/img/user.png}" alt="User Logo" class="user-logo dropdown-btn">
            <div class="dropdown-content">
                <a th:href="@{/account/edit}">Profile</a>
                <a href="/logout">Log Out</a>
            </div>
        </div>
    </div>
</header>

<h1>ADMIN PANEL</h1>
<div class="button-container">
    <a class="button" th:href="@{/category-management/categories-list}">Category Management</a>
    <a class="button" th:href="@{/tag-management/tags-list}">Tag Management</a>
    <a class="button" th:href="@{/product-management/products-list}">Product Management</a>
    <a class="button" th:href="@{/order-management}">Order Management</a>
</div>
</body>
</html>
