<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Sign in</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" type="text/css" th:href="@{/css/regestration.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css}" />
</head>
<body>

<div class="faixa">

    <h1>Login</h1>
    <form th:action="@{/login}" method="post" class="login">

        <div class="loginError" th:if="${param.error}">
            <p style="color: rgba(125, 6, 35, 0.8); font-weight: 900; margin-left: 70px;">Invalid username or password</p>
        </div>

        <input class="textbox" type="email" name="email" placeholder="Your_email@gmail.com" required autofocus/>
        <input class="textbox" type="password" name="password" placeholder="Password" required/>

        <a class="link" th:href="@{/registration}" style="margin: 20px 0px 5px 140px;">Registration</a>
        <label class="link" for="remember-me">Remember me ?</label>
        <input type="checkbox" id="remember-me" name="remember-me" style="margin: 2px 0px 5px 190px;">

        <input class="send" type="submit" value="Sign in"/>

<!--        <div class="middle">-->
<!--            <button class="btn"><i class="fab fa-facebook-f"></i></button>-->
<!--            <button class="btn"><i class="fab fa-google"></i></button>-->
<!--            <button class="btn"><i class="fab fa-twitter"></i></button>-->
<!--        </div>-->

    </form>

</div>

</body>
</html>