<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="group-all-order-list">
        <p>All order:</p><br><br>
        <th:block th:each="order : ${allOrderList}">
            <div th:class="'order-list-' + ${order.getId()}">
                <table>
                    <tr th:each="orderItem : ${order.getOrderItems()}">
                        <th:block th:with="product=${orderItem.getProduct()}">
                            <td th:text="${product.getTitle()}"></td>
                            <td th:text="${product.getPrice()}"></td>
                        </th:block>
                        <td th:text="${orderItem.getQuantity()}"></td>
                        <td th:text="${orderItem.getPrice()}"></td>
                    </tr>
                </table>
            </div>
        </th:block>
    </div>

    <div class="group-processing-order-list">
        <p>Processing orders: </p><br><br>
        <th:block th:each="order : ${processingOrderList}">
            <div th:class="'order-list-' + ${order.getId()}">
                <table>
                    <tr th:each="orderItem : ${order.getOrderItems()}">
                        <th:block th:with="product=${orderItem.getProduct()}">
                            <td th:text="${product.getTitle()}"></td>
                            <td th:text="${product.getPrice()}"></td>
                        </th:block>
                        <td th:text="${orderItem.getQuantity()}"></td>
                        <td th:text="${orderItem.getPrice()}"></td>
                    </tr>
                    <tr>
                        <td>
                            <form th:action="@{/order/update-cancelled-order/{orderId}(orderId=${order.getId()})}">
                                <button type="submit">Cancel</button>
                            </form>
                        </td>
                    </tr>
                </table>

            </div>
        </th:block>
    </div>

    <div class="group-delivered-order-list">
        <p>Delivered orders: </p><br><br>
        <th:block th:each="order : ${deliveredOrderList}">
            <div th:class="'order-list-' + ${order.getId()}">
                <table>
                    <tr th:each="orderItem : ${order.getOrderItems()}">
                        <th:block th:with="product=${orderItem.getProduct()}">
                            <td th:text="${product.getTitle()}"></td>
                            <td th:text="${product.getPrice()}"></td>
                        </th:block>
                        <td th:text="${orderItem.getQuantity()}"></td>
                        <td th:text="${orderItem.getPrice()}"></td>
                    </tr>
                    <tr>
                        <td>
                            <form th:action="@{/order/update-cancelled-order/{orderId}(orderId=${order.getId()})}">
                                <button type="submit">Cancel</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </th:block>
    </div>

    <div class="group-completed-order-list">
        <p>Completed orders: </p><br><br>
        <th:block th:each="order : ${completedOrderList}">
            <div th:class="'order-list-' + ${order.getId()}">
                <table>
                    <tr th:each="orderItem : ${order.getOrderItems()}">
                        <th:block th:with="product=${orderItem.getProduct()}">
                            <td th:text="${product.getTitle()}"></td>
                            <td th:text="${product.getPrice()}"></td>
                        </th:block>
                        <td th:text="${orderItem.getQuantity()}"></td>
                        <td th:text="${orderItem.getPrice()}"></td>
                    </tr>
                </table>
            </div>
        </th:block>
    </div>

    <div class="group-cancelled-order-list">
        <p>Cancelled orders: </p><br><br>
        <th:block th:each="order : ${cancelledOrderList}">
            <div th:class="'order-list-' + ${order.getId()}">
                <table>
                    <tr th:each="orderItem : ${order.getOrderItems()}">
                        <th:block th:with="product=${orderItem.getProduct()}">
                            <td th:text="${product.getTitle()}"></td>
                            <td th:text="${product.getPrice()}"></td>
                        </th:block>
                        <td th:text="${orderItem.getQuantity()}"></td>
                        <td th:text="${orderItem.getPrice()}"></td>
                    </tr>
                    <tr>
                        <td>
                            <form th:action="@{/order/buy-again/{orderId}(orderId=${order.getId()})}">
                                <button type="submit">Buy again</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </th:block>
    </div>
</div>
</body>
</html>