<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order detail</title>
</head>
<body>
<div class="container">
  <div class="group-user-information">
      <th:block th:with="userMeta=${order.getUser().getUserMeta()}">
          <table th:object="${userMeta}">
              <tr>
                  <td th:text="'User id: ' + ${order.getUser().getId()}"></td>
              </tr>
              <tr>
                  <td th:text="'Your name: ' + *{firstName} + ' '
                + *{middleName} + ' ' + *{lastName}"></td>
              </tr>
              <tr>
                  <td th:text="'Address: ' + *{address}"></td>
              </tr>
              <tr>
                  <td th:text="'Mobile: ' + *{mobile}"></td>
              </tr>
          </table>
      </th:block>
  </div>
  <div class="group-order-item">
      <table>
          <tr th:each="orderItem : ${order.getOrderItems()}">
              <th:block th:with="product=${orderItem.product}">
                  <td th:text="${product.title}"></td>
                  <td th:text="${product.price}"></td>
                  <td th:text="${orderItem.price}"></td>
                  <td th:text="${orderItem.quantity}"></td>
              </th:block>
          </tr>
      </table>
  </div>

    <div class="transaction">
        <p th:text="'Transaction mode: ' + ${transaction.getMode()}"></p><br>
        <p th:text="'Transaction type: ' + ${transaction.getType()}"></p><br>
        <p th:text="'Transaction status: ' + ${transaction.getStatus()}"></p><br>
    </div>

    <div class="order-status">
        <p th:text="'Order status: ' + ${order.getStatus()}"></p>
        <th:block th:if="${order.getStatus().equals(T(com.springboot.ecommerce.model.order.OrderStatus).PROCESSING)}">
            <form th:action="@{/order-management/update-delivered-order/{orderId}(orderId=${order.id})}">
                <button type="submit">Update Delivered Order</button>
            </form>
        </th:block>
        <th:block th:if="${order.getStatus().equals(T(com.springboot.ecommerce.model.order.OrderStatus).PROCESSING)} or
                            ${order.getStatus().equals(T(com.springboot.ecommerce.model.order.OrderStatus).DELIVERED)}">
            <form th:action="@{/order/update-cancelled-order/{orderId}(orderId=${order.id})}">
                <button type="submit">Update Cancelled Order</button>
            </form>
        </th:block>

        <th:block th:if="${order.getStatus().equals(T(com.springboot.ecommerce.model.order.OrderStatus).DELIVERED)}">
            <form th:action="@{/order-management/update-completed-order/{orderId}(orderId=${order.id})}">
                <button type="submit">Update Completed Order</button>
            </form>
        </th:block>

    </div>
</div>
</body>
</html>