<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <!-- Using a local copy -->

  <!-- Include the default stylesheet -->
  <link rel="stylesheet" type="text/css" href="multiple-select.css">
  <!-- Include plugin -->
  <script src="multiple-select.js"></script>

  <!-- Or using a CDN -->

  <!-- Include the default stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/wenzhixin/multiple-select/e14b36de/multiple-select.css">
  <!-- Include plugin -->
  <script src="https://cdn.rawgit.com/wenzhixin/multiple-select/e14b36de/multiple-select.js"></script>
</head>
<body>

<!-- A multiple select element -->
<select id="my-select" multiple="multiple">
  <option value="1">January</option>
  <option value="2">February</option>
  <option value="3">March</option>
  <option value="4">April</option>
  <option value="5">May</option>
  <option value="6">June</option>
  <option value="7">July</option>
  <option value="8">August</option>
  <option value="9">September</option>
  <option value="10">October</option>
  <option value="11">November</option>
  <option value="12">December</option>
</select>

<script>
  // Initialize multiple select on your regular select
  $("#my-select").multipleSelect({
    filter: true
  });
</script>
</body>
</html>