<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Category</title>
</head>
<body>
<div class="container">
    <div class="form-update-category">
        <form method="post" th:action="@{/category-management/save-category}" th:object="${category}">
            <th:block th:if="*{id != null}">
                <input type="hidden" th:field="*{id}">
            </th:block>
            <div class="group-title">
                <label for="title">Title Category</label>
                <input id="title" th:field="*{title}" type="text" required><br><br>
            </div>
            <div class="group-metaTitle">
                <label for="meta-title">Meta Title</label>
                <input id="meta-title" th:field="*{metaTitle}" type="text"><br><br>
            </div>
            <div class="group-slug">
                <label for="slug">Slug Category</label>
                <input id="slug" th:field="*{slug}" required type="text"><br><br>
            </div>
            <div class="group-content">
                <label for="content">Content</label>
                <input id="content" th:field="*{content}" type="text"><br>
            </div>
            <div class="group-parent-category">
                <label for="parent-category">Parent Category</label>
                <select id="parent-category" th:field="*{categoryParent}">
                    <option value="">-- None --</option>
                    <option th:each="category : ${categories}"
                            th:value="${category.getId()}"
                            th:text="${category.getTitle()}"></option>
                </select><br><br>
            </div>

            <input type="submit" value="Update Category">
        </form>
    </div>
</div>
</body>
</html>