<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update product meta</title>
</head>
<body>
<div class="container">
  <h1>Update product meta</h1>
  <form method="post" th:action="@{/product-management/save-product-meta}" th:object="${productMeta}">
      <th:block th:if="*{id != null}">
          <input type="hidden" th:field="*{id}">
      </th:block>
      <th:block th:unless="*{id != null}">
          <input type="hidden" th:field="*{product}" th:value="*{product}">
      </th:block>
      <div class="group-key-product-meta">
          <label for="key-product-meta">Key : </label>
          <input type="text" id="key-product-meta" th:field="*{keyProductMeta}" autofocus><br><br>
      </div>
      <div class="group-content-product-meta">
          <label for="content-product-meta">Content :</label>
          <textarea rows="3" id="content-product-meta" th:field="*{content}"></textarea>
      </div>

      <input type="submit" value="SAVE">
  </form>
</div>
</body>
</html>